In [1]:
from bsedata.bse import BSE
from bsedata.exceptions import InvalidStockException  # Import the exception

import pandas as pd

bse = BSE(update_codes=True)

strip_code_data = pd.read_csv("Equity.csv")
strip_code_data.reset_index(inplace=True)
tick_data = pd.DataFrame(strip_code_data[["index", "Issuer Name"]])

def get_stock_quote(id):
    try: 
        id = str(id)
        return bse.getQuote(id)
    except InvalidStockException as e:
        return None  # Return None to indicate an issue

stock_data = pd.DataFrame()


inactive_count = 0

for id in tick_data["index"]:
    try:
        print(id)
        stock_quote = get_stock_quote(id)

        # Check if stock_quote is not None before processing
        if stock_quote is not None:
            # Convert the dictionary to a DataFrame row
            row_df = pd.DataFrame.from_dict(stock_quote, orient='index').T

            # Append the row to the result DataFrame
            stock_data = pd.concat([row_df,stock_data])
        else:
            # Increment the counter for inactive stocks
            inactive_count += 1

        print ("Inactive Count is ", inactive_count)

    except Exception as e:
        print(e)
        print("Error for ", id)

500002
Inactive Count is  0

In [ ]:
# columns_to_drop = ['change', 'pChange', 'updatedOn','group', 'faceValue', 'industry',
#        'previousClose', 'previousOpen', 'dayHigh', 'dayLow', '52weekHigh',
#        '52weekLow', 'weightedAvgPrice', 'totalTradedValue',
#        'totalTradedQuantity', '2WeekAvgQuantity', 'marketCapFull',
#        'marketCapFreeFloat', 'buy', 'sell']

# stock_data.drop(columns=columns_to_drop, inplace = True)

In [ ]:

# stock_data = pd.read_csv("Equity.csv")

In [10]:
pd.concat([row_df,stock_data],ignore_index=True)

,companyName,currentValue,change,pChange,updatedOn,securityID,scripCode,group,faceValue,industry,...,52weekHigh,52weekLow,weightedAvgPrice,totalTradedValue,totalTradedQuantity,2WeekAvgQuantity,marketCapFull,marketCapFreeFloat,buy,sell
0,ABB India Limited,4731.00,-40.80,-0.86,24 Jan 24 | 04:00 PM,ABB,500002,A / S&P BSE 200,2.00,Capital Goods,...,4984.30,2754.85,4714.86,5.30 Cr.,0.11 Lakh,0.05 Lakh,"1,00,253.85 Cr.","25,063.46 Cr.","{'1': {'quantity': '-', 'price': '0.00'}, '2':...","{'1': {'price': '0.00', 'quantity': '-'}, '2':..."
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
import yfinance as yf

In [12]:

inactive_count = 0
close_prices_df = pd.DataFrame()

for symbol in stock_data["securityID"]:
    try:
        d = yf.download(symbol + ".BO", period="max")  #get quote here

        if d is not None:
            temp_df = pd.DataFrame(d)                           #make a df
            close_prices_df[symbol] = temp_df['Close']          #select only one column from df
        else:
            inactive_count += 1            
    except Exception as e:
        print(f"Error processing {symbol}: {e}")
        inactive_count += 1

Error processing nan: unsupported operand type(s) for +: 'float' and 'str'

In [6]:
close_prices_df.head()

,ABB,AEGISLOG,ARE&M,AMBALALSA,ANDHRAPET,ANSALAPI,UTIQUE,ARUNAHTEL,BOMDYEING,ASIANHOTNR,...,BEPL,BIHSPONG,BINANIIND,BIRLACABLE,BLUESTARCO,DISAQ,QUESTCAP,BPL,OAL,CENTEXT
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,53.989998,NaN,NaN,NaN,NaN,NaN,NaN,96.300003,14.839999,NaN,...,NaN,NaN,NaN,90.300003,20.359995,NaN,NaN,458.399994,NaN,NaN
2000-01-04,52.599998,NaN,NaN,NaN,NaN,NaN,NaN,96.300003,14.579999,NaN,...,NaN,NaN,NaN,97.500000,21.986660,NaN,NaN,458.399994,NaN,NaN
2000-01-05,52.200001,NaN,NaN,NaN,NaN,NaN,NaN,96.300003,13.799999,NaN,...,NaN,NaN,NaN,98.900002,20.493330,NaN,NaN,458.399994,NaN,NaN
2000-01-06,56.000000,NaN,NaN,NaN,NaN,NaN,NaN,96.300003,14.189999,NaN,...,NaN,NaN,NaN,100.500000,20.373329,NaN,NaN,458.399994,NaN,NaN
2000-01-07,54.000000,NaN,NaN,NaN,NaN,NaN,NaN,96.300003,13.299999,NaN,...,NaN,NaN,NaN,92.650002,18.846661,NaN,NaN,458.399994,NaN,NaN

In [13]:

# # save data in file

# csv_filename = 'fetched_market_data.csv'
# stock_data.to_csv(csv_filename, index=False)

# # Provide a link for downloading
# download_link = f'<a href="{csv_filename}" download="{csv_filename}">Download CSV</a>'



# # Display the link (you can print or use in a Jupyter Notebook)
# print(download_link)

<a href="fetched_market_data.csv" download="fetched_market_data.csv">Download CSV</a>

In [ ]:
# close_prices_df.to_csv("close_prices.csv")