In [1]:
# from selenium import webdriver
# from selenium.webdriver.chrome.service import Service as ChromeService
# from webdriver_manager.chrome import ChromeDriverManager
# from selenium.webdriver.support.ui import WebDriverWait
# from webdriver_manager.core.driver_cache import DriverCacheManager
import pandas as pd
# from bs4 import BeautifulSoup

In [2]:
# driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager(
# cache_manager=DriverCacheManager(valid_range=10)).install()))
# wait_toshow = WebDriverWait(driver, 60)
# wait_tocheck = WebDriverWait(driver, 10)

In [3]:
# # startDate = '2009-1-1'
# # endDate = '2024-1-24'
# url = "https://in.investing.com/indices/s-p-cnx-nifty-historical-data?end_date=1706101776&st_date=1230748200"

In [4]:
# driver.get(url)

In [5]:
# content = driver.page_source
# soup = BeautifulSoup(content)

In [6]:
# date = []
# for a in soup.findAll('td', attrs={'class': 'col-rowDate'}):
#     date_txt = a.find('span', attrs={'class': 'text'})
#     date.append(date_txt.text)
# print(date)

In [7]:
# # Loading Closing Prices
# close = []
# for a in soup.findAll('td', attrs={'class': 'col-last_close'}):
#     close_txt = a.find('span', attrs={'class': 'text'})
#     close.append(close_txt.text)
# print(close)

In [8]:
import yfinance as yf

In [9]:
# get nifty data
nifty = yf.Ticker("^NSEI")
# get historical prices
hist = nifty.history(period="max")

d:\Ayush\college\4thyear\proj\venv\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

In [10]:
hist = hist[['Close']]

In [11]:
hist

                                  Close
Date
2007-09-17 00:00:00+05:30   4494.649902
2007-09-18 00:00:00+05:30   4546.200195
2007-09-19 00:00:00+05:30   4732.350098
2007-09-20 00:00:00+05:30   4747.549805
2007-09-21 00:00:00+05:30   4837.549805
...                                 ...
2024-02-05 00:00:00+05:30  21771.699219
2024-02-06 00:00:00+05:30  21929.400391
2024-02-07 00:00:00+05:30  21930.500000
2024-02-08 00:00:00+05:30  21717.949219
2024-02-09 00:00:00+05:30  21782.500000

[4019 rows x 1 columns]

In [12]:
# convert datetime to date in hist index
hist.index = hist.index.strftime('%Y-%m-%d')

In [13]:
hist.to_csv('nifty.csv')